html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #3b1850;
    color: white;
    font-family: sans-serif;
}
h1 {
    text-align: center;
}
div {
    display: block;
}
.text-center {
    text-align: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.bordered {
    border: 5px solid #6e3f8a;
}
.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 250px;
}
.buttonImg {
    width: 25px;
    height: auto;
}
.buttonContainers {
    position: absolute;
    left: 25%;
}
.leftArticle {
    float: left;
    width: 40%;
}
.rightArticle {
    float: right;
    width: 40%;
}
.txta {
    background-color: #2f1041;
    color: white;
    width: 100%;
    height: 200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.butt,
td {
    background-color: #8755a3;
}
.butt:hover,
td:hover {
    background-color: #643f79;
}
.margin5 {
    margin-left: 5%;
    margin-right: 5%;
}
.marginauto {
    margin: auto;
}
*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}
#info-overlay {
    vertical-align: middle;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #00000023;
    /*
    display: none;
    */
}
#info-container {
    margin-top: 15%;
    width: 50%;
    background-color: #8755a3;
}
#info-back {
    position: relative;
    text-align: center;
}
#overlay {
    width: 100%;
    height: 100%;
    background-color: #00000023;
}
